* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:monospace;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 4rem;
    font-size: 1.2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tap {
    margin-top: 18rem;
    font-size: 1.8rem;
    font-style: italic;
    padding: 1rem;
}